/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('../src/assets/Images/landingpage.jpg');
     background-repeat: no-repeat;
     background-size: cover;   -ms-background-size: cover;   -o-background-size: cover;   -moz-background-size: cover;   -webkit-background-size: cover;
}
@import "~bootstrap/dist/css/bootstrap.css"; 

